Source: libdontdie
Section: utils
Priority: optional
Maintainer: Andreas Florath <andre@florath.net>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/flonatel/libdontdie
Vcs-Git: https://github.com/flonatel/libdontdie.git
Vcs-Browser: https://github.com/flonatel/libdontdie

Package: libdontdie
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Enables TCP keepalives even if the program / language
  does not. 

